{:updog.updater/single-run-updater
 {:db      #ig/ref :updog.apps-db.edn-db/apps-db
  :sources [#ig/ref :updog.app-source.github-release/app-source
            #ig/ref :updog.app-source.local-bin/app-source
            #ig/ref :updog.app-source.local-zip/app-source]
  :logger  #ig/ref :updog.logging/timbre-logger}

 :updog.apps-db.edn-db/apps-db
 {:filename "appsdb.edn"
  :logger   #ig/ref :updog.logging/timbre-logger}

 :updog.app-source.github-release/app-source
 {:logger #ig/ref :updog.logging/timbre-logger}

 :updog.app-source.local-bin/app-source
 {:logger #ig/ref :updog.logging/timbre-logger}

 :updog.app-source.local-zip/app-source
 {:logger #ig/ref :updog.logging/timbre-logger}

 :updog.logging/timbre-logger
 {}}
