{:updog.updater/single-run-updater
 {:db      #ig/ref :updog.apps-db.edn-db/apps-db
  :sources [#ig/ref :updog.app-source.github-release/app-source
            #ig/ref :updog.app-source.local-bin/app-source]}

 :updog.apps-db.edn-db/apps-db
 {:filename "appsdb.edn"}

 :updog.app-source.github-release/app-source
 {}

 :updog.app-source.local-bin/app-source
 {}

 :updog.logging/timbre-logger
 {:log-level :debug}}
