{:updog.updater/single-run-updater
 {:db      #ig/ref :updog.apps-db.edn-db/app-db
  :sources [#ig/ref :updog.app-source.github/app-source]}

 :updog.apps-db.edn-db/app-db
 {:filename "appdb.edn"}

 :updog.app-source.github/app-source
 {}

 :updog.logging/timbre-logger
 {:log-level :debug}}
